@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/JomhuriaRegular.ttf");
  font-family: "Jomhuria";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/JollyLodger.ttf");
  font-family: "Jolly Lodger";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/RobotoRomanBold.ttf");
  font-family: "Roboto";
  font-weight: 700;
}
